<hello name="{{ name }}"></hello>
<p>
  Hello my name is Mateo Giron Im a student at Queens borough Coummunity College and i am studying Digitial Arts And Design, I have a highschool Degree and i came here because i saw that your company is looking for a person in stock holder and i believe i have the skills you are looking for in this job. I have worked at a Walgreens before as stock holder and i have the skills needed to do the job hopfully you will hire me for this job i look forward to your response.  
  
  
</p>